.creators {
    margin-top: 150px;

    @include mediaTablet {
        margin-top: 100px;
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__rating {
        color: #5BA300;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 24px;
        border: 1px solid #5BA300;
        background-color: transparent;
        padding: 19px 27px;
        margin-top: 103px;

        @include mediaTablet {
            font-size: 16px;
        }
    }
    

    &__cards {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 32px;

        @include smallSuperTablet {
            justify-content: center;
        }

    }

    &__title {
        text-align: center;
        color: #FFF;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 148.99%; /* 53.636px */
        margin-bottom: 52px;

        @include mediaTablet {
            font-size: 24px;
        }

    }
}
.card-creators {

    // .card-creators__card

    &__card {
        border-radius: 30px;
        background: #1D1D1D;
        padding: 17px;

        @include smallSuperTablet {
            padding: 5px;
        }
    }
}
.cardd {

    display: flex;
    align-items: center;
    column-gap: 10px;
    // .cardd__image

    &__image {
        width: 85px;
        height: 85px;
        flex-shrink: 0;

        border-radius: 85px;
        background:lightgray 50% / cover no-repeat, #D9D9D9;
    }

    // .cardd__center

    &__center {
        display: flex;
        flex-direction: column;

    }

    // .cardd__name

    &__name {
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 148.99%; /* 29.798px */

        margin-bottom: 17px;

        @include mediaTablet {
            font-size: 18px;
        }
    }

    // .cardd__price

    &__price {
        display: flex;
        align-items: center;
        gap: 5px;

        img {
            width: 20px;
            height: 32.564px;
            flex-shrink: 0;
        }

        h2 {
            color: #5BA300;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 148.99%; /* 23.838px */

            @include mediaTablet {
                font-size: 14px;
            }
        }
    }

    // .cardd__right

    &__right {
        display: flex;
        align-self: self-start;
    }

    // .cardd__button

    &__button {
        color: #FFF;
        font-size: 14.037px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-radius: 17.731px;
        background: #5BA300;
        border: none;
        padding: 9px 23px;
        text-transform: capitalize;

        @include mediaTablet {
            font-size: 12px;
        }
    }
}
