.trending {
    padding-top: 100px;

    @include mediaTablet {
        padding-top: 30px;
    }
    // .trending__top
}


.trending-top {
    margin-bottom: 43px;

    @include mediaTablet {
        margin-bottom: 23px;
    }

    // .trending-top__row

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include smallSuperTablet {
            justify-content: space-around;
        }
    }

    // .trending-top__title

    &__title {

        h2 {
            color: #FFF;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 148.99%; /* 35.758px */

            @include mediaTablet {
                font-size: 18px;
            }
        }

        p {
            color: #FFF;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 148.99%; /* 53.636px */

            @include mediaTablet {
                font-size: 28px;
            }
        }

    }

    // .trending-top__view

    &__view {
        display: flex;
        align-items: center;
        column-gap: 16px;
        h2 {
            color: #FFF;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 148.99%; /* 35.758px */

            @include mediaTablet {
                font-size: 18px;
            }
        }
    }
}
.bottom {

    // .bottom__cards

    &__cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        gap: 30px;

        @include smallSuperTablet {
            justify-content: center;
        }

    }

    // .bottom__card

    &__card {
        max-width: 370px;
        flex-shrink: 0;

       

        border-radius: 6px;
        background: #1D1D1D;
        padding: 25px;

        @include smallSuperTablet {
            padding: 15px;
        }

    }
}
.card {
    max-width: 320px;

    @include smallSuperTablet {
        width: 100%;
    }

    // .card__top

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 20px;
    }

    &__info {
        display: flex;
        align-items: center;
        column-gap: 16px;  

        h2 {
            color: #FFF;
            font-size: 16.613px;
            font-style: normal;
            font-weight: 700;
            line-height: 148.99%; /* 24.751px */

            @include mediaTablet {
                font-size: 14px;
            }
        }
    }

    // .card__center

    &__center {
        @include smallSuperTablet {
            width: 50%;
        }

        margin-bottom: 25px;
    }

    // .card__bottom

    &__bottom {
        display: flex;
        flex-direction: column;

        &__title {
            margin-bottom: 30px;
            h2 {
                color: #FFF;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 148.99%; /* 29.798px */

                @include mediaTablet {
                    font-size: 18px;
                }
            }

            p {
                color: rgba(255, 255, 255, 0.60);
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: 148.99%; /* 19.369px */

                @include mediaTablet {
                    font-size: 10px;
                }
            }
        }
    }
}
.buy {

    // .buy__left

    &__left {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .buy__price

    &__price {

        h2 {
            color: rgba(255, 255, 255, 0.60);
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: 148.99%; /* 16.389px */

            @include mediaTablet {
                font-size: 9px;
            }
        }

        p {
            color: #FFF;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 148.99%; /* 26.818px */

            @include mediaTablet {
                font-size: 14px;
            }
        }
    }

    // .buy__button

    &__button {
        color: #FFF;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 148.99%; /* 26.818px */
        border-radius: 1px;
        background: #5BA300;
        padding: 13px 44px;
        border: none;

        @include mediaTablet {
            font-size: 14px;
        }

        @include smallSuperTablet {
            padding: 10px 30px;
        }
    }
}

